/* ==========================================================================
   HERO SECTION
   ========================================================================== */

   .hero {
    @include clearfix; // If you have this mixin in your project
    position: relative;
    margin-inline: 0;
    width: 100vw; // Full viewport width
    //left: 50%; // Center the hero section
    //right: 50%; // Center the hero section
    //margin-left: -50vw; // Offset to cover the sides
    //margin-right: -50vw; // Offset to cover the sides
    overflow: hidden; // Hide overflow if any
    background-color: $hero-background-color; // Optional: set a background color
  
    .hero-image {
      width: 100%;
      height: auto; // Maintain aspect ratio
      object-fit: cover; // Ensure it covers the whole area
      display: block; // Remove bottom space
      margin-inline: 0;
    }
  
    @include breakpoint($large) {
      // Add responsive styles if needed
    }
  }
  